.venv/
venv/
__pycache__/
*.pyc
checkpoints/
*.pt
*.pth
*.onnx
runs/
logs/
datasets/
archive/
dataset/
bdd100k_samples/
test_images/
all_project_code.txt
yolop_full_code_dump.txt
get-pip.py
*.egg-info/
.DS_Store
